/* comments */

.comments-area {
	width: 900px;
	max-width: 100%;

	margin: 0 auto;
	color: $single-body-color;

	.nav-links {
		margin: 0;
		padding: 0;
	}

	.nav-links .nav-previous {
		margin-left: 0;
		i {
			margin-right: 10px;
			color: #575757;
		}
	}
	.nav-links .nav-next {
		margin-right: 0;
		i {
			margin-left: 10px;
			color: #575757;
		}
	}

	.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url {
		label {
			display: block;
			margin-bottom: 8px;
		}
	}

	.comments-title {
		text-align: center;
		color: $body-color;
		font-size: 40px;
		margin: 40px auto;
	}

	.comment-list {
		padding: 0;
		list-style: none;
		border: #eee 1px solid;
		background: #eee;
		a, a:visited {
			color: $single-body-color;
		}

		.depth-1 {
			margin-top: 20px;
		}
		.depth-1:first-child {
			margin-top: 0;
		}
		.depth-2 {
			margin-left: 5%;
		}
		.depth-3 {
			margin-left: 5%;
		}

		.comment {

			.comment-awaiting-moderation {
				margin: 0;
			}

			.comment-meta {
				background: #fff;
				padding: 10px;
				height: 70px;
				position: relative;
				margin-bottom: 10px;

				.comment-author {
					position: absolute;
					left: 10px;
					top: 10px;
					width: calc(100% - 80px);
				}

				.avatar {
					border-radius: 5px;
					border: solid 1px #b0b0b0;
					margin-right: 10px;
					display: block;
					float: left;
				}

				.fn {
					font-weight: normal;
					font-size: 18px;
					display: inline-block;
					width: 80%;
					height: 24px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					position: absolute;
					left: 70px;
					top: 0;
				}

				.says {
					display: none;
				}

				.comment-metadata {
					font-size: 12px;
					position: absolute;
					left: 80px;
					top: 58px;
					.edit-link {
						margin-left: 10px;
					}
				}
			}

			.comment-content, .comment-awaiting-moderation, .reply {
				font-size: 14px;
			}

			.comment-content {
				background: #fff;
				padding: 10px;
				width: calc(100% - 20px);
				margin-bottom: 20px;
				p:first-child {
					margin-top: 0;
				}
				a {
					text-decoration: underline;
				}
			}

			.reply{
				float: right;
				margin-top: -44px;
				padding: 2px 5px;
				background: #eee;
			}

			.comment-awaiting-moderation {
				display: inline-block;
				font-size: 12px;
				position: absolute;
				left: 80px;
				top: 35px;
			}

			.comment-body {
				min-height: 110px;
				position: relative;

				&:after {
					clear: both;
					content: "";
					display: block;
				}
			}

			#respond {
				width: 90%;
				margin: 0 auto;
			}
			h3#reply-title {
				margin: 0;
			}

			#cancel-comment-reply-link {
				font-weight: normal;
				font-size: 14px;
				text-decoration: underline;
			}

		}
	}

	.comment-form {
		font-size: 0;
		margin: 60px 0 10px 0;
		& > p {
			font-size: 1.0rem;
		}

		.comment-form-comment {
			margin-bottom: 0;

			textarea {
				width: calc(100% - 28px);
				height: 176px;
				padding: 14px;
				margin: 0 auto;
				display: block;
			}
		}
	}

	.comment-form-author, .comment-form-email {
		margin-right: 75px;
	}

	.comment-form-author, .comment-form-email, .comment-form-url {
		display: inline-block;

		input {
			width: 235px;
			height: 40px;
			margin: 0;
			padding: 0 0 0 13px;
			border: solid 1px #b0b0b0;
		}
	}

	.form-submit {
		text-align: center;
	}
}
