@import "../variables";

/* entry */
.singular-body {
	color: $single-body-color;
}

.entry-header {
	margin-bottom: 40px;

	.entry-eyecatch {
		height: 400px;
		overflow: hidden;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		img {
			min-width: 100%;
			width: 100%;
			height: auto;
			position: absolute;
		}
	}
	.entry-title {
		text-align: center;
		color: $body-color;
		font-size: 40px;
		margin: 40px auto;
	}
	.entry-meta {
		max-width: 40%;
		margin: 0 auto;
		time {
			display: block;
			text-align: center;
		}
		.entry-category,
		.entry-tag {
			font-size: 90%;
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
			i {
				margin-right: 10px;
			}
			a, a:hover, a:visited, a:active {
				color: $single-body-color;
				text-decoration: none;
			}
		}
	}
}

.entry-content,
.entry-comments {
	margin: 0 auto;
}

.entry-content {
	line-height: 1.8;
	figure {
		max-width: 100%;
		margin: 0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.aligncenter {
		display: block;
		margin: 0 auto;
	}
	.alignright {
		float: right;
		margin-left: 1em;
	}
	.alignleft {
		float: left;
		margin-right: 1em;
	}
	.wp-caption {
		margin-bottom: 1em;
		font-size: 90%;
	}
	.wp-caption-text {
		color: #ccc;
		font-size: 90%;
	}
	.sticky,
	.gallery-caption,
	.bypostauthor {
		display: block;
	}

}
