.gnav {
	overflow: auto;
	position: fixed;
	top: 0;
	right: -80%;
	width: 80%;
	height: 100%;
	background: #353535;
	z-index: 9999;
	transition: 0.3s ease-out;


	@media #{$medium-up} {
		&{
			width: 300px;
			right: -300px;
		}
	}

	div {
		ul {
			padding: 0;
			text-align: left;
			margin: 0;
			li {
				list-style: none;
				text-shadow: 1px 1px 4px #616161;
				.children, .sub-menu {
					padding-left: 10px;
				}
				a {
					padding: 20px 20px 20px 35px;
					display: block;
					&, a:hover, a:visited, a:active {
						color: #ffffff;
						text-decoration: none;
					}
				}
			}
		}
		> ul > li {
			border-top: #878787 1px solid;
			&:last-child {
				border-bottom: #878787 1px solid;
			}
			a:before {
				content: '\f105';
				margin-left: -20px;
				position: absolute;
				color: #909090;
				font-family: 'FontAwesome';
				margin-top: 5px;
			}
			.children, .sub-menu {
				> li {
					font-size: 0.833em;
					&:last-child {
						padding-bottom: 0;
					}
					> a:before {
						content: '\f0da';
					}
					.children, .sub-menu {
						> li {
							font-size: 1em;
							> a:before {
								content: '\f111';
								font-size: 10px;
								margin-top: 6px;
							}
						}
					}
				}
			}
		}
	}

	&[aria-expanded="true"] {
		right: 0;
	}

	.search-field {
		margin: 10px auto;
		width: 95%;
		border-radius: 8px;
		background: #222222;
		border: none;
		height: 40px;
		padding: 5px 40px 5px 10px;
		color: #ffffff;
		position: relative;

		&:placeholder-shown {
			color: #222222;
		}
		&::placeholder {
			color: #222222;
		}
	}
	.search-form:after {
		font-family: FontAwesome;
		color: $body-color;
		content: "\f002";
		position: absolute;
		right: calc(2.5% + 10px);
		top: 20px;
		font-size: 1.1em;
	}
	.search-submit {
		display: none;
	}

}
