.nav-links {
	margin-top: 80px;
	a, a:hover, a:visited, a:active {
		color: #575757;
		text-decoration: none;
	}
	.nav-previous {
		width: 70px;
		float: left;
		margin-left: 20px;
		img {
			margin-right: 10px;
		}
	}
	.nav-next {
		width: 70px;
		float: right;
		text-align: right;
		margin-right: 20px;
		img {
			margin-left: 10px;
		}
	}
}
