.square-thumbnail {
	display: block;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	// create square.
	&::before {
		content: "";
		display: block;
		padding-top: 100%;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		height: 100%;
		width: 100%;
		opacity: 0;
	}
}