/* variables */
$content-pc-width: 1200px;
$singular-content-pc-width: 900px;
$body-color: #353535;
$single-body-color: #222222;

// Media Queries
$screen-small-min: 480px;
$screen-medium-min: 640px;
$screen-large-min: 1024px;

$screen-small-max: $screen-medium-min - 1px;
$screen-medium-max: $screen-large-min - 1px;

$screen: "only screen" !default;

$small-up: "#{$screen} and (min-width:#{$screen-small-min})" !default;
$medium-up: "#{$screen} and (min-width:#{$screen-medium-min})" !default;
$large-up: "#{$screen} and (min-width:#{$screen-large-min})" !default;
