@charset "UTF-8";

body {
	font-family: 'Noto Sans', 'Noto Sans Japanese', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
	color: $body-color;
	margin: 0 auto;
	word-wrap: break-word;
}

/*
 *
 * Heading
 *
 */

h1 {
	font-size: 40px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
	font-weight: 700;
}

h4 {
	font-size: 24px;
	font-weight: 700;
}

h5 {
	font-size: 22px;
	font-weight: 700;
}

h6 {
	font-size: 18px;
	font-weight: 700;
}

blockquote {
	display: block;
	border-left: #b0b0b0 2px solid;
	padding-left: 20px;
	margin: 0;
}

q {
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}

pre {
	display: block;
	white-space: pre;
	background: #eee;
	padding: 20px;
}

code {
	word-wrap: break-word;
	background: #eee;
}

table {
	width: 100%;
	font-size: 16px;
	border-collapse: collapse;
	td, th {
		border: #b0b0b0 1px solid;
		text-align: center;
		vertical-align: middle;
		padding: 20px;
	}
	th {
		font-weight: bold;
	}
}

a, a:visited {
	color: #2f97e1;
	text-decoration: none;
}

a:hover {
	color: #2f97e1;
	text-decoration: underline;
}

a:active {
	color: $single-body-color;
	text-decoration: underline;
}

dl {
	width: 100%;
}

p {
	margin-bottom: 28px;
}

ul > li {
	list-style-type: square;
}

ol > li {
	list-style-type: decimal;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

form {
	input[type="text"],
	textarea {
		border: #b0b0b0 1px solid;
		padding: 5px 10px;
		margin-bottom: 20px;
		&:placeholder-shown {
			color: #b0b0b0;
		}
		&::placeholder {
			color: #b0b0b0;
		}
	}
	input[type="submit"],
	input[type="button"] {
		background: #fff;
		border: $body-color 2px solid;
		text-align: center;
		padding: 10px 20px;

		transition: all 0.4s;
		&:hover {
			background: $body-color;
			border: $body-color 2px solid;
			box-shadow: inset 0 0 0 2px #fff;
			color: #fff;
		}
	}
}

figure {
	max-width: 100%;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}
